body, html {
  color: black;
  height: 100%;
  background-color: #090909;
  background-image:url('https://i.imgur.com/CqPfIEj.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bebas Neue', cursive;
}

body {
  margin: auto;
  width: 100%;
}

p {
  margin: 3px;
  font-size: 18px;
}

li {
  font-size: 18px;
}



h3 {
  margin: 10px;
}

.header-section {
  border-radius: 0 0 20px 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.greeting,
.fit-lit {
  display: flex;
  width: 40vw;
  height: 100%;
  justify-content: center;
  align-items: center;

}

h2 {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-user-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: flex-start;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  border-radius: 30px;
  background: #ff761fde;
  font-size: 1.5em
}

.user-img {
  width: 12vw;
}

.friend-img {
  width: 6vw;
}

figure {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.step-graph,
.sleep-graph,
.hydration-graph {
  background-color: white;
  width: 30vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-steps,
.user-sleep,
.user-hydration,
.user-friends {
  display: flex;
  flex-direction: column;
}

.user-friend {
  list-style-type: none;
  padding: 0;
}

.user-name-greeting {
  color: #ff761fde;
  font-size: 48px;
}

.orange {
  color: #ff761fde;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.greetings {
  font-size: 18px;
  margin: 2px;
}

.logo {
  font-size: 56px;
}

.greeting h2 {
  margin: 0;
}

.user-details {
 margin: 10px;
}

@media screen and (max-width: 700px) {
  .main-user-container {
    grid-template-columns: 100%;
  }
}